In [ ]:
import scrapy

In [1]:
import pandas as pd

In [4]:
! ls

Untitled.ipynb miniconda.sh   resources      src            z.json
airflow        notes1         sample_data    venv
items.json     notes2         sqlcon         x.json

In [6]:
pd.read_json("z.json", lines = True)

       term  incidence         site           timestamp
0  election          0  theguardian 2024-04-13 11:36:31
1       war          1  theguardian 2024-04-13 11:36:31
2   economy          0  theguardian 2024-04-13 11:36:31

In [1]:
import re

key_term = "tere"

all_headings = ["terekest", "tere", "Tere sealpool!"]

re.findall(r'\b{}\b'.format(re.escape(key_term)), 
                       all_headings, 
                       re.IGNORECASE)

TypeError: expected string or bytes-like object

In [10]:
regex_pattern

'\\btere\\b'

In [27]:
regex_pattern = r'\b{}\b'.format(re.escape(key_term))
z = [len(re.findall(regex_pattern, x , re.IGNORECASE)) for x in all_headings]
#map(z, lambda x: len(x))

#nums = [5, 3, 6, 1, 7, 2]
#list(filter(lambda x: len(x) != 0, z))
z

[0, 1, 1]

In [24]:
z

[[], ['tere'], ['Tere']]

In [18]:
key_term

'tere'

In [17]:
peace_terms

[]

In [19]:
all_headings

['terekest', 'tere', 'Tere sealpool!']

In [13]:
peace_terms

[]

In [14]:
re.findall(r'\b{key_term}\b'.format(re.escape(key_term)), 
                       all_headings.join(""), 
                       re.IGNORECASE)

KeyError: 'key_term'

In [4]:
x = r'\b{key_term}\b'.format(re.escape(key_term))

KeyError: 'key_term'